* {
    padding: 0;
    margin: 0;
}

/*FUENTES
font-family: 'Dancing Script', cursive;
font-family: 'Playfair Display', serif;
*/


/* MOBILE FIRST - INDEX */

.header {
    display: flex;
    justify-content: center;
}

main {
    padding-top: 30px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 70px; 
}

.img-colibri {
    width: 100%;
}

p {
    font-family: 'Playfair Display', serif;
}

hr {
    height: 3px;
    width: 80%;
    background-color: green;
    margin-left: 33px;
}

h2 {
    font-family: 'Playfair Display', serif;
}

.div-h2 {
    padding-top: 20px;
    padding-bottom: 30px;
}

h3 {
    font-family: 'Playfair Display', serif; 
    font-size: 20px;
}

footer {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.img-wapp {
    width: 80px;
    
}

.img-redes {
    width: 130px;
}

.div-img-footer {
    display: flex;
    justify-content: center;
}


/*Productos*/
.h1-productos {
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}



.nombre-producto {
    font-family: 'Playfair Display', serif;

}

.img-producto {
    width: 20%;
}

.div-container {
    display: flex;
   flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    width: 100%;

}

.botton-comprar {
    background-color: rgb(123, 199, 123);
    color: white;
    border-radius: 30px;
    border-style:hidden;
    padding: 20px;
    font-family: 'Playfair Display', serif;
}

/*Modal*/


.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: black;
    background-color: rgb(210, 234, 185);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-container:-webkit-scrollbar {
    display: none;

}

.modal-header {
    display: flex;
    justify-content: space-around;
    background-color:rgb(210, 234, 185);
    color: black;
    width: 100%;

}

.h1-modal {
    justify-self: center;
    font-size: 50px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.boton-modal {
    cursor: pointer;
}

.modal-container > .carrito-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.modal-container > div > img {
    height: 120 px;
    width: 120px;
}

.total-compra {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}


.boton-eliminar {
    cursor: pointer;
}

.sumar {
    cursor: pointer;
}

.restar {
    cursor: pointer;
}

.cantidad-carrito {
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;
}

@media screen and (min-width: 320px){
    .h1-productos {
        font-size: 40px;
    }
    
    
    
    .nombre-producto {
        font-family: 'Playfair Display', serif;
        font-size: 15px;    
    }
    
    .img-producto {
        width: 50%;
    }
    
    .div-container {
        
    flex-direction: column;

    
    }
    
    .botton-comprar {
     padding: 15px;
        
    }
}

@media screen and (min-width: 600px){
    .img-colibri {
        width: 70%;
    }

    .div-img-colibri {
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 80px; 
    }

    .div-carrousel {
        width: 50%;
        margin-left: 145px;
        
    }

    hr {
        margin-left: 65px;
    }

    h3 {
        font-size: 15px;
    }

        
    .h1-carrito {
        font-size: 50px;
    }

    #container-products{

        padding-left: 140px;
        
    }

    .card {
        width: 70%;
    
    }

    

   


}

@media screen and (min-width: 1023px) {
    .img-colibri {
        width: 40%;
    }

    .div-carrousel {
        width: 38%;
        margin-left: 370px;
        
    }

    hr {
        margin-left: 100px;
    }
    p{
        font-size: 20px;
    }

    h3 {
        font-size: 20px;
    }
    
    #container-products{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 10px;
        
    }
    
    .card { 
        padding-bottom: 30px; 
        align-content: space-between;
        margin: 20px;
        
    }

    h4 {
        font-size: 18px;
        padding-top: 5px;
    }

    /*Productos*/

    .h1-productos {
        font-size: 80px;
       
    }
    
    
        
    .nombre-producto {
        font-size: 25px;
        
    }
        
        .img-producto {
            width: 20%;
        }
        
        .div-container {
        
        flex-direction: row;
        
        }
    

    /*Estilo ventana modal*/ 


.modal-container:-webkit-scrollbar {
    display: none;

}


.h1-modal {
    font-size: 80px;
 
}


.modal-container > .carrito-modal {

    flex-direction: row;

    width: 90%;
  

}

    
}

@media screen and (min-width: 1400px) {
    .img-colibri {
        width: 25%;
    }

    .div-carrousel {
        width: 20%;
        margin-left: 590px;
        
    }

    hr {
        margin-left: 180px;
    }   
    p{
        font-size: 20px;
    }

    h3 {
        font-size: 20px;
    }
    
}



